<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.7.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.7.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.IEDriver" version="4.7.0" targetFramework="net472" />
</packages>